In [1]:
import pandas as pd

def daily_aggr():
    data = pd.read_csv('../CSV/FullMain.csv')

    data['DATE'] = pd.to_datetime(data['<DATETIME>'].str.split(' ').str[0])

    daily_data = data.groupby(['<TICKER>', 'DATE']).agg({
        '<OPEN>': 'first',
        '<CLOSE>': 'last',
        '<HIGH>': 'max',
        '<LOW>': 'min'
    }).reset_index()

    daily_data.columns = ['TICKER', 'DATE', 'Open', 'Close', 'High', 'Low']

    daily_data.head()
    return daily_data

In [2]:
daily_aggr()

      TICKER       DATE     Open    Close     High      Low
0       AFLT 2021-01-11    73.36    74.02    74.56    72.68
1       AFLT 2021-01-12    74.04    74.04    74.54    73.12
2       AFLT 2021-01-13    74.04    73.52    74.38    72.92
3       AFLT 2021-01-14    73.50    73.22    73.76    72.74
4       AFLT 2021-01-15    73.20    72.36    73.60    72.08
...      ...        ...      ...      ...      ...      ...
12237   YNDX 2023-05-27  2322.80  2322.00  2324.80  2319.00
12238   YNDX 2023-05-29  2334.80  2386.40  2410.00  2295.60
12239   YNDX 2023-05-30  2387.00  2307.60  2397.00  2263.00
12240   YNDX 2023-05-31  2307.20  2322.40  2353.00  2244.20
12241   YNDX 2023-06-01  2323.80  2324.20  2326.00  2320.20

[12242 rows x 6 columns]